<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naruto</title>

    <style>
        ul{
            font-size: 25px;
            color: indigo;
        }
        p{
            font-size: 50px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            color: red;
        }
    </style>
</head>
<body>
        <p>Inspiratonal Quotes by Naruto</p>
        <ul>
            <li>“FAILING DOESN’T GIVE YOU A REASON TO GIVE UP, AS LONG AS YOU BELIEVE.”</li>
            <li>“SOMEBODY TOLD ME I’M A FAILURE, I’LL PROVE THEM WRONG.”</li>
            <li>“WHEN YOU GIVE UP, YOUR DREAMS AND EVERYTHING ELSE, THEY'RE GONE.”</li>
        </ul>
</body>
</html>