<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sakura</title>
</head>
<body>
    <h1 style="text-align: center; font-size: 50px; color:orange">Quotes by sasuke</h1>
    <ul style="font-size: 25px;">
        <li>“This Is The Path I Walk. Not You Or Anyone Can Change That.”</li>
        <li>“Having Too Many Bonds Causes One To Lose Focus, Weakening Their Strongest Wish, Their Greatest Desire.”</li>
    </ul>
</body>
</html>